%h3 Welcome to LoLtistics. If you're here, it's probably because I've invited you to upload some logs.

%p This site is just a side-project. Don't expect anything really fancy.

%p With that said, I have two main goals:

%ol
  %li Let players send links to their matches to friends
  %li Let players see match and player statistics not available in the League of Legends client (yet)