.uploader-box
  %h2 Upload Log Files

  #file-uploader
    %noscript
      %p You are seeing this message because you have Javascript disabled.
      %form#upload-form{:method => :post, :enctype => 'multipart/form-data'}
        %label{:for => 'file'} Select a logfile:
        %input{:type => 'file', :name => 'file'}
        %input{:type => 'submit', :value => 'Upload'}

  %ul#output

%script{:type => 'text/javascript', :src => '/js/file-uploader.js'}
%script{:type => 'text/javascript', :src => '/js/upload.js'}