!!!
%html
  %head
    %title LoLtistics
    %link{:rel => 'stylesheet', :href => '/stylesheets/loltistics.css', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
  %body
    #header
    
      %h1 
        %a{:href => '/'} LoLtistics
      #navigation
        %ul
          %li
            %a{:href => '/matches'} Matches
          %li
            %a{:href => '/players'} Players
          %li
            %a.upload{:href => '/feedback'} Feedback
      #upload
        %a.button{:href => '/'} Upload
    #content
      - if flash.has?(:notice)
        .notice= flash[:notice]
      = yield
    #footer
    
    