!!!
%html
  %head
    %title= @title.nil? ? "LoLtistics" : @title + " - LoLtistics"
    %link{:rel => 'stylesheet', :href => '/stylesheets/loltistics.css', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => '/js/jquery-1.4.3.min.js'}
  %body
    #upload
      %a{:href => '/'} Upload
      
    #header
      %h1 
        %a{:href => '/'} LoLtistics
      #navigation
        %ul
          %li
            %a{:href => '/matches'} Matches
          %li
            %a{:href => '/players'} Players
          %li
            %a{:href => '/about'} About
          %li
            %a.upload{:href => '/feedback'} Feedback
        
    #content
      - if flash.has?(:notice)
        .notice= flash[:notice]
      = yield
      
    #footer
      %span Summoner and Champion icons are property of <a href="http://riotgames.com">Riot Games</a>
    
    :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-326719-6']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();