!!!
%html
  %head
    %title LoLtistics
    %link{:rel => 'stylesheet', :href => '/stylesheets/loltistics.css', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
  %body
    #header
    
      %h1 
        %a{:href => '/'} LoLtistics
      #navigation
        %ul
          %li
            %a{:href => '/matches'} Matches
          %li
            %a{:href => '/players'} Players
          %li
            %a{:href => '/upload'} Upload
          %li
            %a{:href => '/logs'} Parser Log
          %li
            %a{:href => '/feedback'} Feedback
      #upload
        %a{:href => '/upload'} Upload Your Logfiles
    #content= yield
    #footer
    
    