$link_color: #00c

html, body, h1, h2, h3, h4, h5, h6, p, span, table, thead, tbody, tfoot, th, tr, td,
form, fieldset, label, input, textarea, select, option,ol, ul, li
  margin: 0
  padding: 0
  
body
  font:
    family: Sans-serif
    size: 14px
  padding: 1.5em
  width: 940px
  margin: 0 auto

p
  margin-top: 1.5em
  
input[type=text], input[type=password], textarea
  font: inherit
  padding: 0.5em
  margin-bottom: 1em

ul, ol
  ul, ol
    margin-top: 0
    margin-bottom: 0
    
ol, ul
  margin: 1.5em 3em
  
table
  border-collapse: collapse
    
th, td
  padding: 0.25em
  text-align: center

td
  border-top: 1px solid #ccc

.winning
  color: green

.losing
  color: red

.tooltip
  display: none
  background: #000
  font-size: 0.75em
  width: 15em
  color: white
  line-height: 2em
  padding: 0 .5em
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  border-radius: 5px
  
.description
  margin-bottom: 1em

.match_key, .summoner_name
  display: inline-block
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  border-radius: 5px
  padding: 5px 10px
  font-size: 2em
  vertical-align: baseline
  
  a
    text-decoration: none
    color: white
    
.match_key
  background-color: #C5241F
  border: 1px solid #E02823
  
.summoner_name
  background-color: #141A9F
  border: 1px solid #212EF9
  
#header
  width: 100%
  overflow: hidden
  margin-bottom: 1.5em
  
  h1, #navigation
    float: left
    
  h1
    a
      color: #c00
  a
    text-decoration: none
    color: $link_color
    
  ul
    height: 2em
    margin: 1em 0 0 1em
    padding: 0
    list-style-type: none
    
    li
      display: inline
      padding-right: 1em
  
  #upload
    float: right
    height: 2em
    padding: 0 0.5em

    font-weight: bold
    
    
    a
      color: #c00
      
#player_badge
  overflow: hidden
  width: 100%
  margin-bottom: 1em
  
  .icon
    float: left
    width: 64px
    height: 64px
        
    img
      float: left
      
  .summoner
    margin-left: 10px
    float: left
    height: 64px
      
#player_record
  overflow: hidden
  width: 100%
  margin-bottom: 1em
  
  .record
    float: left
    width: 200px
    text-align: center
    
#player_elo
  overflow: hidden
  width: 100%
  margin-bottom: 1em
  
  .elo
    float: left
    width: 200px
    text-align: center
    
    .type, .value
      display: block
      
    .value
      font-size: 1.5em
      font-weight: bold
      
#elo_history
  width: 100%
  overflow: hidden
  margin-bottom: 1em
  
  .history
    float: left
    width: 200px
    text-align: center
    
    ul
      list-style-type: none
      margin: 0
      padding: 0
    
    .chart
      width: 200px
      height: 100px
    
    table
      display: none
      
#matches
  width: 100%
  overflow: hidden
  margin-bottom: 1em
  
  .type
    width: 200px
    float: left
    text-align: center
    
    ul
      list-style-type: none
      margin: 0
      padding: 0
    
table.match  
  .summoner
    width: 10em
    a
      text-decoration: none
  .champion
    width: 10em
  .level
    width: 2em
  .elo
    width: 6em
  .kills
    width: 2em
  .deaths
    width: 2em
  .assists
    width: 2em
  .items
    width: 18em
  
  td.summoner, td.champion, td.items
    text-align: left

table.matches
  width: 100%
  
table.wide
  td.header
    font-weight: bold
    
  td.player
    width: 100px
  
  td.statistic, td.spread
    width: 100px
    font-weight: bold
    color: white
    
  td.statistic
    background-color: #3638C8
  
  td.spread
    background-color: #C13D3D
  
  td.advantage
    background-color: green
    
  td.items
    vertical-align: top
    
table.logs
  .filename
    width: 5em
  .parsed_at
    width: 20em
  .parse_time
    width: 10em
  .matches_found
    width: 10em
  .players_found
    width: 30em
  
  td
    vertical-align: top

.notice
  font-weight: bold
  background-color: #f00
  color: #fff
  padding: 1em
  margin-bottom: 1em
  
.qq-uploader
  position: relative
  width: 100%

.qq-upload-button
  margin-top: 1em
  display: inline-block
  padding: 1em
  text-align: center
  background: #cc0000
  color: #fff
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  border-radius: 5px

.qq-upload-button-hover
  background: #880000

.qq-upload-drop-area
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  min-height: 70px
  z-index: 2
  background: #FF9797
  text-align: center

.qq-upload-drop-area span
  display: block
  position: absolute
  top: 50%
  width: 100%
  margin-top: -8px
  font-size: 16px

.qq-upload-drop-area-active
  background: #FF7171

.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text
  margin-right: 7px

.qq-upload-spinner
  display: inline-block
  background: url('/images/loading.gif')
  width: 15px
  height: 15px
  vertical-align: text-bottom

.qq-upload-failed-text
  display: none
  color: white
  background: #c00
  padding: 0 0.25em
  
.qq-upload-fail .qq-upload-failed-text
  display: inline