%h2 Matches

- if @matches
  #matches
    .type
      %h3 25 Most Recent
      %ul
        - @matches.each do |match|
          %li
            %a{:href => "/matches/#{match['id']}"}= match['id'] 
- else
  No matches to display