%h2 Most Recent Matches

- if @matches
  #matches    
    %ul
      - @matches.each do |match|
        %li
          %a{:href => "/matches/#{match['id']}"}= match['id'] 
- else
  No matches to display