%h2 Upload Result

%h3 Matches
- if @result[:matches].length == 0
  No matches found, 
- else
  %ul
    - @result[:matches].each do |match|
      %li
        %a{:href => "/matches/#{match}"}= match
  
%h3 Players
- if @result[:players].length == 0
  No players found
- else
  %ul
    - @result[:players].each do |player|
      %li
        %a{:href => "/players/#{player}"}= "#{player}"