%h2 Upload

%form#upload-form{:method => :post, :enctype => 'multipart/form-data'}
  %label{:for => 'file'} Select a logfile:
  %input{:type => 'file', :name => 'file'}
  %input{:type => 'submit', :value => 'Upload'}

%ul#output

%script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
%script{:type => 'text/javascript', :src => '/js/jquery.form.js'}
%script{:type => 'text/javascript', :src => '/js/upload.js'}
